@import "tailwindcss";
@import "primeicons/primeicons.css";

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevents scrolling */
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-color-perfil);
    background-image: url(../public/Logo.png);
    background-repeat: no-repeat; /* Prevent repeating */
    background-position: center; /* Center the image */
    background-size: auto; /* Ensures the full image is visible */
}

:root {
    --blue-perfil: #007091;
    --bg-color-perfil:#eceded;
    --green-perfil: #009933;
}

.p-menubar, .p-menubar-mobile, .p-menubar-mobile .p-menubar-root-list{
    background-color: var(--blue-perfil)!important;
    border-radius: 0px!important;
    border: none!important;
    // color: white!important;
}