@import "tailwindcss";

:root {
    --blue-perfil: #007091;
    --bg-color-perfil:#eceded;
    --green-perfil: #009933;
}

.p-menubar, .p-menubar-mobile, .p-menubar-mobile .p-menubar-root-list{
    background-color: var(--blue-perfil)!important;
    // color: white!important;
}

.layout{
    width: 100vw;
    height: 100vh;
    // background-color: var(--bg-color-perfil);
    box-sizing: border-box;
    // overflow: hidden;
}